@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes roll {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.rolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: roll 10s linear infinite;
}

.movie-thumbnail {
  transition: opacity 500ms ease-in-out;
}


.pacifico-text {
  font-family: 'Pacifico', cursive;
}

